<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="work">
            <h2><span jhiTranslate="authorWorksManagerApp.work.detail.title">Work</span> {{work.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="authorWorksManagerApp.work.workName">Work Name</span></dt>
                <dd>
                    <span>{{work.workName}}</span>
                </dd>
                <dt><span jhiTranslate="authorWorksManagerApp.work.workAbstract">Work Abstract</span></dt>
                <dd>
                    <span>{{work.workAbstract}}</span>
                </dd>
                <dt><span jhiTranslate="authorWorksManagerApp.work.workType">Work Type</span></dt>
                <dd>
                    <span jhiTranslate="{{'authorWorksManagerApp.WorkType.' + work.workType}}">{{work.workType}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/work', work.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
